html 
    head 
        title pug included 
        style.
            h1{
                color: blue;
            }
            h2{
                color: red;
            }
            h3{
                color: purple;
            }
    body 
        h1 Hello Pug!
        h2 FIT
        h3 RAJJO loves MESSI