<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI CALCULATOR.</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <h1>
            CHECK YOUR BMI.
        </h1>
        <form action="/bmi" method="POST">
            HEIGHT(cm):<input type="number" name="height" placeholder="ENTER YOUR HEIGHT">
            WEIGHT(kg):<input type="number" name="weight" placeholder="ENTER YOUR WEIGHT">
            <input type ="submit" name="SUBMIT" value="SUBMIT">
        </form>
    </div>
</body>
</html>